
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
    
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font icons -->
    
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="liste-matchs.component.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<header class="header d-flex justify-content-center">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-md-7">
                <div class="header-content">
                    <br><br><br><br><br><br>
                    <h3 class="header-title"><strong class="text-primary"> <i> Liste Matchs</i> </strong></h3>
                    <br>
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                    <br>
            
                    <h4 class="header-subtitle"> <a [routerLink]="['/ajout_match']">Ajouter Sport </a><br> </h4>
                    
                    <div *ngIf="match" class="col-sm-3">
                        <table id="myInput"  class="table table-bordered table-striped">
                              <th><span class="text-light">Nom </span></th>
                              <th><span class="text-light">Pari Montant</span></th>
                              <th><span class="text-light">Temp Début</span></th>
                              <th><span class="text-light">Temp Fin</span></th>
                              <th><span class="text-light">date</span></th>
                              <th><span class="text-light" >Supprimer</span></th>
                              <th><span class="text-light" >Modifier</span></th>
                              <th><span class="text-light" >PLus de détails</span></th>
                     <tbody id="myTable">
                            <tr *ngFor="let mat of match"  >
                              <th><span class="text-light" >{{mat.nom}}</span></th>
                              <th><span class="text-light" >{{mat.pari_montant}}</span></th>
                              <th><span class="text-light" >{{mat.temp_deb}}</span></th>
                              <th><span class="text-light" >{{mat.temp_fin}}</span></th>
                              <th><span class="text-light" >{{mat.date_match}}</span></th>
                               <th><a (click)="clickMethod(mat.id, mat.nom)" class="fa fa-trash"></a></th>
                               <th><a (click)="Updatematch(mat.id)"class=' fa fa-edit '></a></th>
                               <th><a (click)="plus_de_detailes(mat.id)"><i class='fa fa-bars'></i></a></th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>  
            </div>
          </div>   
        </div>  
</header>
<div class="social-wrapper" id="features">
  <div class="container">
      <div class="social-txt">
          <h6 class="title">Social Media</h6>
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/PromosportTunisie" class="fa fa-facebook"></a>
        <a href="http://promosport.tn/fr#.YjTzI5FNHYM.twitter" class="fa fa-twitter"></a>
        <a href="http://promosport.tn/fr" class="fa fa-google"></a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=http%3A%2F%2Fpromosport.tn%2Ffr%23.YjTx9T69Pxs.linkedin" class="fa fa-linkedin"></a>
      </div>
  </div>          
</div>

</body>
<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="assets/js/rubic.js"></script>
</html>
<router-outlet></router-outlet>