
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font icons -->
    
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="sports.component.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<header class="header d-flex justify-content-center">
    
  <div class="container">
      <div class="row h-100 align-items-center">
          <div class="col-md-11">
              <div class="header-content">
                <br>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>
                <div class="list-group">
                    <h1>Les top des Sports</h1>
                    <ul>
                        <li><a href="#"><img src="assets/images/foot.jpg" > Football</a></li><li><a href="#"><img src="assets/images/tennis.jpg" > Tennis</a></li><li>
                        <li><a href="#"><img src="assets/images/bas.jpg" > Basketball</a></li><li><a href="#"><img src="assets/images/rug1.webp" > Rugby</a></li><li>
                         <li><a href="#"><img src="assets/images/handbal.jpg" > Handball</a></li>
                      </ul>  
                  </div>
                  <div class="list-group">
                    <h1>Toutes Les Sports</h1>
                    <ul>
                        <li><a href="#"><img id="img2" src="assets/images/Aussie.jpg" > Aussie Rules</a></li>
                        
                        <li><a href="#"><img  id="img2" src="assets/images/Baseball1.png" > Baseball</a></li>
                            <li><a href="#"><img src="assets/images/Boxe1.jpg"  > Boxe</a></li>
                            <li><a href="#"><img src="assets/images/fff1.webp" id="img2" > Foot américain</a></li>
                            
                            <br><br>
                             <li><a href="#"><img src="assets/images/Golf1.jpg" id="img2" >     Golf </a></li>
                             <li><a href="#"><img src="assets/images/Nascar1.jpg" id="img2" > Nascar</a></li>
                             <li><a href="#"><img src="assets/images/Rallye1.jpg" id="img2" >Rallye</a></li>
                             <li><a href="#"><img src="assets/images/Snooker1.webp" id="img2" > Snooker</a></li>
                      </ul>  
                  </div>
                  </div>
              </div>  
          </div>
      </div>  
</header>

<section class="section" id="contact">
  <div class="container text-center">
      <h6 class="display-4 has-line">CONTACT US</h6>
      <p class="mb-5 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <form>
          <div class="row mb-4">
              <div class="col-md-6">
                  <div class="form-group pb-1">
                      <input type="text" class="form-control" required placeholder="Name">            
                  </div>
                  <div class="form-group pb-1">
                      <input type="email" class="form-control" required placeholder="Email">          
                  </div>
                  <div class="form-group ">
                      <input type="text" class="form-control" placeholder="Subject">
                  </div>
              </div>
              <div class="col-md-6">
                  <textarea name="" id="" cols="" rows="7" class="form-control" required placeholder="Message"></textarea>
              </div>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Send Message">
      </form>
  </div>
</section>
</body>
<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="assets/js/rubic.js"></script>
</html>
