<!-- /*<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:1000px"></div>
 -->
    <footer class="footer py-4 bg-dark text-light"> 
        <div class="container text-center">
            <p class="mb-4 small">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://promosport.tn/fr">PROMOSPORT</a></p>
            <div class="social-links">
                <a   href="https://www.facebook.com/PromosportTunisie/" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a  href="http://www.promosport.sport.tn/ar" title="Google +"><i class="fa fa-google-plus"></i></a>
                <a   href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fcompany-beta%2F2472659&trk=login_reg_redirect" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Socièté Promosport
  
                <p> Centre urbain du Nord
                  
                 </p>
                 <p> 
                  Av.Med Ali Aqeed Street 2035 Quartier olympique
                  B.P. : 323 Tunisie 1004
                 
                 </p>
                 <p>Téléphone : 71186200 Fax : 71.750654
                 <a class="nav-link" [routerLink]="['s_admine']" >ADMIN</a>
        </div>
    </footer>
    