
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font icons -->
    
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="commercial.component.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<header class="header d-flex justify-content-center">
  <div class="container">
      <div class="row h-100 align-items-center">
          <div class="col-md-11">
              <div class="header-content"><br><br><br><br>
                  <h3 class="header-title"><strong class="text-primary">Structures commerciales :</strong></h3>
                  <h4 class="header-subtitle">   Réseau commercial de la société Promosport </h4>
                  Le réseau commercial de la société Promosport comprend actuellement 690 points de ventes tous équipés par les terminaux MAEL 340. Ils couvrent toutes les zones importantes (chef lieu de gouvernorat et délégations) et la direction de la société Promosport compte doubler le nombre de points de vente actuel pour atteindre les objectifs fixés en matière de politique commerciale et assurer une couverture optimale de tout le territoire national.              </div>  
                  <h4 class="header-subtitle">   Devenir point de vente : </h4>
                  l’état du local commercial et son emplacement géographique, durment doté d'une ligne téléphonique fixe.
                  Un engagement pour acquérir la "valideuse" faisant ressortirles les modalités de financement (soit au comptant, ou avec un crédit bancaire et un autofinancement de 25%) . 
                  Un point de vente Promosport assure en plus de la commercialisation des bulletins Promosport pour les deux jeux national et international la commercialisation du bulletin officiel hebdomadaire de la société et la distribution des articles de publicité. 
                  
                  Les points de vente placés dans les centres de région et réalisant un chiffre d’affaire important pourront dans le futur procéder au paiement des gagnants pour des montants de gains ne dépassant pas une limite fixée par la direction de la société.
                  <h4 class="header-subtitle">   Rétributions : </h4>
                  Les points de vente sont rétribués par :<br>

                  Une remise de 10% sur les montants des ventes réalisés<br>
                  20 millimes octroyés sur chaque bulletin promosport validé chez eux. <br>
                  40 millimes sur chaque journal PROMOSPORT vendu.<br>


                </div>
      </div>  
  </div>
</header>





</body>
<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="assets/js/rubic.js"></script>
</html>
