
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font icons -->
    
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="technologie.component.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<header class="header d-flex justify-content-center">
  <div class="container">
      <div class="row h-100 align-items-center">
          <div class="col-md-11">
              <div class="header-content"><br><br><br><br>
                  <h3 class="header-title"><strong class="text-primary">TECHNOLOGIE :</strong></h3>
                 - La société Promosport est une entreprise publique chargée de la promotion du sport par la mobilisation des moyens financiers nécessaires.<br><br>

                -  Elle a constitué depuis sa création un important créneau de financement public du sport par la mise à la disposition des structures, des équipes et des sélections nationales sportives d’importantes sommes permettant leur fonctionnement et leur épanouissement tant national qu’international<br><br>

             
              - Toutefois cette mission a connu ces dernières années des limites imputables à l’amortissement quasi-total des outils de travail et qui a généré des insuffisances touchant à la crédibilité de l’entreprise et à son capital confiance,et qui s’est traduit  par une régression continue au niveau des recettes mobilisables.<br><br>
        
              -Aussi et pour parer à ces inconvénients, la société Promosport a fait l’objet d’un plan de mise à niveau, visant à la  redoter de moyens modernes lui permettant de réaliser efficacement les objectifs qui lui sont assignés.<br><br>
              Pour ce, il a été mis en place à compter de Mai 2004, et après appel d’offres international, un nouveau système informatique pour la gestion des concours sportifs comprenant :<br>

              Un système central informatique destiné à la collecte des pronostics et à l’édition des bulletins gagnants et des états financiers, comptables et statistiques.<br>
    
               Des terminaux dits « valideuses » placés auprès des points de vente et destinés à recevoir les pronostics des participants aux concours et à leur transmission via ligne téléphonique R.T.C au centre au siège de la société. <br>
            </div>
                </div>
             </div>  
        </div>
</header>





</body>
<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="assets/js/rubic.js"></script>
</html>
