
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font icons -->
    
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="concours-na.component.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<header class="header d-flex justify-content-center">
  <div class="container">
      <div class="row h-100 align-items-center">
          <div class="col-md-11">
              <div class="header-content">
                  <h3 class="header-title"><strong class="text-primary">CONCOURS NATIONAL </strong></h3>
                  
                  Le participant doit tout d’abord cocher la case indiquant l’intitulé de jeu « PROMO 13 NATIONAL » dans le bulletin de jeu tiré auprès des points de vente PROMOSPORT.

                  Ce bulletin comprend une espace de pronostique d’une grille de13 rencontres. Le but de jeu de prédire le résultat des 13 rencontres en choisissant entre :<br>
                  
                  (1) : pour pronostiquer la victoire de l’équipe 1<br>
                  
                  (X) : pour pronostiquer le nulle entre les deux équipes<br>
                  
                  (2) : pour pronostiquer la victoire de l’équipe 2<br><br>
                  <h4 class="header-subtitle">   Les paris et les gains </h4>
                  Au niveau de jeu « PROMO13N/I », le participant utilise un seul bulletin. Le participant peut faire la prédiction de des 13 rencontres.

                  Le jeu : PROMO 13 N/I a une seule catégorie de prix.
                  · Le nombre maximum des rencontres pouvant être annulés des grilles du jeu « PROMO 13 N/I » est de : trois rencontres (03). les participants dans ce cas ayant 11 réponses correctes sont considérés  gagnants.
                  
                  · Le nombre minimum de combinaisons pour le jeu « PROMO 13 N/I » par bulletin de jeu est de : 4 combinaisons.
                  
                  S’il n’ya aucun gagnant dans un concours, la cagnotte de ce concours est transférée vers le prochain concours.
                  Le participant peut faire ces pronostics avec des combinaisons à choix multiples (des doubles et des triples) selon le tableau des combinaisons indiqués au verso du bulletin de jeu « PROMO 13N/I».
              </div>  
          </div>
      </div>  
  </div>
</header>





</body>
<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="assets/js/rubic.js"></script>
</html>
