<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="compte.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-7 intro-section">
            <div class="intro-content-wrapper">
                <h1 class="intro-title">Bienvennue</h1>
                <p class="intro-text">Votre email et mot de passe seront utilisés pour vous connecter à votre compte ParionsSport</p> 
            </div>
            <div class="intro-section-footer">
                <nav class="footer-nav"> <a href="https://www.facebook.com/PromosportTunisie">Facebook</a> <a href="http://promosport.tn/fr#.YjTzI5FNHYM.twitter">Twitter</a> <a href="http://promosport.tn/fr">Google</a> </nav>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 form-section">
            <div class="login-wrapper">
                <h2 class="login-title">Se Connecter</h2>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
                    <div class="form-group"> <label for="email" class="sr-only">Email</label> <input type="email" name="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="parieur.email" required> </div>
                    <div class="form-group mb-3"> <label for="password" class="sr-only">Password</label> <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="parieur.password" required> </div>
                    <div class="footer">
                        <button class="btn btn-warning">Se Connecter</button>
                    </div>                </form><br>
                <p class="login-wrapper-footer-text">créer un  <a [routerLink]="['/s_inscrire']" class="text-reset">compte</a></p>
            </div>
        </div>
    </div>
</div>