
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font icons -->
    
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="modifier-parieur.component.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<header class="header d-flex justify-content-center">
  <div class="container">
      <div class="row h-100 align-items-center">
     
          <div class="col-md-8 d-none d-md-block">
              <br><br>
              <form (ngSubmit)='onSubmit()' #f="ngForm" class="header-form">
                  <div class="head"><span class="text-primary"> <i> Modifier Parieur</i></span> </div>
                  <div class="body">
                      <div class="form-group">
                          <label>nom</label>
                          <input type="text" class="form-control" [(ngModel)]="nouvpar.nom"  name="nom"  placeholder="Nom" >
                      </div>
                      <div class="form-group">
                        <label>prenom</label>
                        <input type="text" class="form-control" [(ngModel)]="nouvpar.prenom" placeholder="Prenom" name="prenom" >
                    </div>
                      <div class="form-group">
                        <label>email</label>
                          <input type="email" class="form-control" [(ngModel)]="nouvpar.email" placeholder="Email" name="email" >
                      </div>
                      <div class="form-group">
                        <label>tel</label>
                        <input type="number" class="form-control" [(ngModel)]="nouvpar.tel" placeholder="Telephone" name="tel">
                    </div>
                    <div class="form-group">
                        <label>code postal</label>
                        <input type="number" class="form-control" [(ngModel)]="nouvpar.codePostale" placeholder="Code Postal"  name="code_postale">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="nouvpar.ville" placeholder="Ville" name="ville">
                    </div>
                      <div class="form-group">
                          <input type="password" class="form-control" [(ngModel)]="nouvpar.password" placeholder="Password" name="password">
                      </div>
                  </div>
                  <div class="footer">
                      <button class="btn btn-primary btn-block" type="submit">Mise a jour</button>
                  </div>
              </form> 
          </div>
        </div>  
    </div>  
</header>
<div class="social-wrapper" id="features">
  <div class="container">
      <div class="social-txt">
          <h6 class="title">Social Media</h6>
          <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptate numquam sed expedita vitae ipsa?</p>
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/PromosportTunisie" class="fa fa-facebook"></a>
        <a href="http://promosport.tn/fr#.YjTzI5FNHYM.twitter" class="fa fa-twitter"></a>
        <a href="http://promosport.tn/fr" class="fa fa-google"></a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=http%3A%2F%2Fpromosport.tn%2Ffr%23.YjTx9T69Pxs.linkedin" class="fa fa-linkedin"></a>
      </div>
  </div>          
</div>

</body>
<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="assets/js/rubic.js"></script>
</html>