<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="ajouter.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-7 intro-section">
            <div class="intro-content-wrapper">
                <h1 class="intro-title">Bienvennue</h1>
                <p class="intro-text">Votre email et mot de passe seront utilisés pour vous connecter à votre compte ParionsSport</p> 
            </div>
            <div class="intro-section-footer">
                <nav class="footer-nav"> <a href="https://www.facebook.com/PromosportTunisie">Facebook</a> <a href="http://promosport.tn/fr#.YjTzI5FNHYM.twitter">Twitter</a> <a href="http://promosport.tn/fr">Google</a> </nav>
            </div>
        </div>
       
        <div class="col-sm-6 col-md-5 form-section">
            <div class="login-wrapper">
                <br><br><br><br><br><br>
                <h2 class="login-title">Créer Un Compte</h2>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
                    
                    <div class="form-group mb-3"> <label for="nom" class="sr-only">Nom</label><input type="text" class="form-control" [(ngModel)]="nouvparieur.nom"  name="nom"  placeholder="Nom" required></div>
                    <div class="form-group mb-3"><label for="prenom" class="sr-only">Prénom</label>
                        <input type="text" class="form-control" [(ngModel)]="nouvparieur.prenom" placeholder="Prenom" name="prenom" required>
                    </div>
                    <div class="form-group mb-3"><label for="nom" class="sr-only">Télephone</label>
                        <input type="tel" class="form-control" [(ngModel)]="nouvparieur.tel" placeholder="Telephone" name="tel" required>
                    </div>
                    <div class="form-group mb-3"><label for="nom" class="sr-only">Code Postal</label>
                        <input type="codepostal" class="form-control" [(ngModel)]="nouvparieur.codePostale" placeholder="Code Postal"  name="codepostale" required>
                    </div>
                    <div class="form-group mb-3"><label for="nom" class="sr-only">Ville</label>
                        <select class="form-control" name="pets" id="pet-select" [(ngModel)]="nouvparieur.ville"  placeholder="Ville" name="ville" required>
                            <option  class="form-control"value="">Ville</option>
                            <option value="ariana">Ariana</option>
                            <option value="ben arouss">Ben Arouss</option>
                            <option value="el mourouj">El Mourouj</option>
                            <option value="tunis">Tunis</option>
                            <option value="Nabeul">Nabeul</option>
                            <option value="bizert">Bizert</option>
                        </select>
                    </div>
                    <div class="form-group mb-3"><label for="nom" class="sr-only">email</label>
                        <input type="email" class="form-control" [(ngModel)]="nouvparieur.email" placeholder="Email" name="email" required>
                    </div>                
                        <div class="form-group mb-3"><label for="nom" class="sr-only">Mot De Passe</label>
                        <input type="password" class="form-control" [(ngModel)]="nouvparieur.password" placeholder="Password" name="password" required >
                    </div>                    <div class="footer">
                        <button class="btn btn-warning">Envoyer</button>
                    </div>               
                 </form>
            </div>
        </div>
    </div>
</div>