
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font icons -->
    
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="accuiel.component.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<header class="header d-flex justify-content-center">
  <div class="container">
      <div class="row h-100 align-items-center">
          <div class="col-md-11">
              <div class="header-content">
                  <h3 class="header-title"><strong class="text-primary">A PROPOS DE PROMOSPORT</strong></h3>
                  <h4 class="header-subtitle">Cadre Juridique </h4>
                  <p>La société Promosport est une entreprise publique sous tutele du Ministère de la Jeunesse des Sports et de l’Education physique, créée par la loi 84-63 du 6 Août 1984, portant organisation et développement des activités physiques et sportives ( art 67 à 70 ). Elle est chargée, en vertu de la réglementation en vigueur de l’organisation des concours de pronostics sportifs, des jeux, des compétitions et de toutes opérations assimilées et qui ont pour objet la promotion des activités physiques et sportives.</p>
                  <h4 class="header-subtitle">   Organes de gestion et de contrôle : </h4>
                   - Le Premier ministère.<br>
                   - Le Ministère de la Jeunesse des Sports et de l’Education physique.<br>
                   - Le Ministère des Finances.<br>
                   - Le Ministère du Développement et de la Coopération Internationale.<br>
                   - Le Ministère de l’Intérieur et du Développement local.<br>
                   - La Fédération Tunisienne du Football
               
              </div>  
          </div>
      </div>  
  </div>
</header>
<div class="social-wrapper" id="features">
  <div class="container">
      <div class="social-txt">
          <h6 class="title">Social Media</h6>
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/PromosportTunisie" class="fa fa-facebook"></a>
        <a href="http://promosport.tn/fr#.YjTzI5FNHYM.twitter" class="fa fa-twitter"></a>
        <a href="http://promosport.tn/fr" class="fa fa-google"></a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=http%3A%2F%2Fpromosport.tn%2Ffr%23.YjTx9T69Pxs.linkedin" class="fa fa-linkedin"></a>
      </div>
  </div>          
</div>
<section class="section">
  <div class="container">
      <div class="row justify-content-around">
          <div class="col-lg-8">
              <div class="tabs-container">

                  <div class="tab-content">
                      <div class="tab-pane fade show active" id="pills-home">
                          <h4 class="title">LISTE DES POINTS DE VENTE PAR GOUVERNORAT</h4>

                      <div class="tab-pane fade" id="pills-contact">
                          <h4 class="title">Some Other </h4>
                          <p>Consectetur amet architecto, temporibus, debitis impedit dolore eius. Enim alias beatae architecto iusto incidunt pariatur reprehenderit impedit ipsum ex at deserunt, inventore corrupti rerum eius obcaecati. Itaque repellendus illum aut beatae ex quasi doloremque voluptatem. Numquam at possimus, obcaecati, voluptas aut vel nam recusandae pariatur error illum quaerat sunt! Ipsam rerum enim hic atque nemo debitis, voluptate obcaecati inventore culpa. Odit adipisci eos natus fugiat. Id, deserunt qui aliquam? Provident tempora repellat, repellendus consequatur quia dolor at dolore temporibus esse in rem ea necessitatibus quo nesciunt eos a dolorum voluptates, tenetur non eius quasi! Autem provident amet, maiores tenetur, eveniet dicta, laborum odio velit sint consequatur beatae nemo at! Aperiam magnam eveniet rerum, optio consequuntur quas maiores ullam necessitatibus nesciunt.</p>
                      </div>
                  </div>
                 </div> 
              </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block align-self-center">
              <img src="assets/imgs/eiffel-tower.svg" alt="" class="w-100 tower">
          </div>
      </div>                  
  </div>                      
</section>
<section class="section">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-md-5 align-self-center mb-4 mb-md-0">
              <img src="src/assets/images/jeux_1.jpg" alt="" class="shadow w-100">
          </div>
          <div class="col-md-6 col-lg-5">
            <h6 class="display-4 has-line">Suivez l’actu des paris sportifs avec Parions Sport</h6><br>
              <ul class="list-unstyled mt-4">
                  <li class="media">
                      <div class="circle-40 mr-3 mt-1"><i class="ti-gift"></i></div>
                      <div class="media-body">
                          <h6 class="mb-2">List-based media object</h6>
                          <p>Cras sit amet nibh libero, in gravida nulla.</p>
                      </div>
                  </li>
                  <li class="media">
                      <div class="circle-40 mr-3 mt-1"><i class="ti-face-smile"></i></div>
                      <div class="media-body">
                          <h6 class="mb-2">Another one</h6>
                          <p>Cras in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                      </div>
                  </li>
                  <li class="media">
                      <div class="circle-40 mr-3 mt-1"><i class="ti-microphone"></i></div>
                      <div class="media-body">
                          <h6 class="mb-2">One more</h6>
                          <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio.</p>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="row justify-content-between">               
          <div class="col-md-6 col-lg-5 align-self-center">
              <h6 class="title">Tous les Articles</h6>

                           
          </div>
          <div class="col-md-5 mt-4 mt-md-0">
            <section>

                <img src="assets/images/listesport.jpg"  style="width:60%">
                <img src="assets/images/jeux_1.jpg"  style="width:30%">
                <img src="assets/images/icon.png"  style="width:26%">
            
            </section>
          </div>
      </div>
  </div>
</section>

<section class="section" id="pricing">
  <div class="container text-center">
      <h6 class="display-4 has-line">PRICING OPTIONS</h6>
      <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="row pt-5">
          <div class="col-lg-4">
              <a href="javascript:void(0)" class="pricing-card">
                  <div class="head">Basib</div>
                  <div class="body">
                      <h1><small>$</small>0</h1>
                      <p>Free for Life</p>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item">1 GB OF SPACE</li>
                      <li class="list-group-item">10 GB OF BANDWIDTH</li>
                      <li class="list-group-item">3 WEBSITES</li>
                      <li class="list-group-item">BASIC CUSTOMIZATION</li>
                      <li class="list-group-item">WORDPRESS INTEGRATION</li>
                      <li class="list-group-item">EMAIL SUPPORT</li>
                  </ul>
              </a>
          </div>
          <div class="col-lg-4">
              <a href="javascript:void(0)" class="pricing-card popular">
                  <div class="head">Professional</div>
                  <div class="body">
                      <h1><small>$</small>14.99</h1>
                      <p>Monthly Payment</p>
                  </div>
                  <div class="popular-item">OUR MOST POPULAR</div>
                  <ul class="list-group">
                      <li class="list-group-item">5 GB OF SPACE</li>
                      <li class="list-group-item">50 GB OF BANDWIDTH</li>
                      <li class="list-group-item">10 WEBSITES</li>
                      <li class="list-group-item">ADVANCED CUSTOMIZATION</li>
                      <li class="list-group-item">WORDPRESS INTEGRATION</li>
                      <li class="list-group-item">EMAIL SUPPORT</li>
                  </ul>
              </a>
          </div>
          <div class="col-lg-4">
              <a href="javascript:void(0)" class="pricing-card">
                  <div class="head">Enterprise</div>
                  <div class="body">
                      <h1><small>$</small>99</h1>
                      <p>Monthly Payment</p>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item">UNLIMITED OF SPACE</li>
                      <li class="list-group-item">UNLIMITED BANDWIDTH</li>
                      <li class="list-group-item">120 WEBSITES</li>
                      <li class="list-group-item">ADVANCED CUSTOMIZATION</li>
                      <li class="list-group-item">WORDPRESS INTEGRATION</li>
                      <li class="list-group-item">EMAIL SUPPORT</li>
                  </ul>
              </a>
          </div>
      </div>
  </div>
</section>
<section class="section" id="review">
  <div class="container text-center">
      <h6 class="display-4 has-line">POINT DE VENTE</h6>
      <p class="mb-5 pb-4">PARIONS SPORT <br>deux offres <br> deux façons de parier .</p>
      <div class="row text-left">
          <div class="col-md-4">
              <div class="testmonial">                        
                  <p class="description"><i> EN LIGNE.</i></p>
                  <div class="media">
                      <img class="mr-3" src="./src/assets/images/listesport.jpg" width="60" >
                      <div class="media-body">
                          <h6 class="title">Jeux</h6>
                          <p class="text-muted">SAFARI</p>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4">
            <div class="testmonial">                        
                <p class="description"><i>POINT DE VENTE</i></p>
                <div class="media">
                    <img class="mr-3" src="src/assets/images/Paris-Sportifs-1.webp" width="60" >
                    <div class="media-body">
                        <h6 class="title">John Doe</h6>
                        <p class="text-muted">Freelancer</p>
                    </div>
                </div>
            </div>
        </div>
                 
      </div>
  </div>
</section>
<section class="section has-img-bg text-center">
  <div class="container">
      <h6 class="display-3 has-line">LIEN UTILES</h6>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" routerLink="concour_na" >Concours-National</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" routerLink="se_connecter" >Concours-Promosport</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" routerLink="se_connecter" >Commercial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" routerLink="se_connecter" >Technologie</a>
    </li>
    </ul>
  </div>
</section>

</body>
<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="assets/js/rubic.js"></script>
</html>