<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Initio - Free, multipurpose html5 template by GetTemplate</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="matchparieur2.component.css">

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
<body class="home">

<header id="header">
	<!--/.nav-collapse -->			
	
</header>

<main id="main">

	<div class="container">
		
		<div class="row section topspace">
			<div class="col-md-12">
				<p class="lead text-center text-muted"></div>
		</div> <!-- / section -->
		
	
		<div class="row section recentworks topspace">
			
			<h2 class="section-title"><span>Les Matchs</span></h2>
			
			<div class="thumbnails recentworks row">
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail"  [routerLink]="['/details']">
						<span class="img">
							<img src="assets/images/m1.jpg" alt="">
							<span class="cover"><span class="more" [routerLink]="['/details']" >Plus du Détails &rarr;</span></span>
						</span>
						<span class="title">Liga Primera</span>
					</a>
					<span class="details"><a href="">12/05/2022</a> | <a href="">Real</a> | <a href="">Liverpool</a></span>
					<h4></h4>
					<p></p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail"  [routerLink]="['/details2']">
						<span class="img">
							<img src="assets/images/bar.jpg" alt="">
							<span class="cover"><span class="more">Plus du Détails &rarr;</span></span>
						</span>
						<span class="title">Ligue des Champions</span>
					</a>
					<span class="details"> <a href="">22/05/2022</a> |<a href="">Barcelona</a> | <a href="">Real</a></span>
					<h4></h4>
					<p></p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" >
						<span class="img">
							<img src="assets/images/at.jpg" alt="">
							<span class="cover"><span class="more">Plus du Détails &rarr;</span></span>
						</span>
						<span class="title">Ligue 1</span>
					</a>
					<span class="details"><a href="">01/06/2022</a> |<a href="">Marseille</a> | <a href="">Atlético Madrid</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" >
						<span class="img">
							<img src="assets/images/juv.jpg" alt="">
							<span class="cover"><span class="more">Plus du Détails &rarr;</span></span>
						</span>
						<span class="title">Serie A</span>
					</a>
					<span class="details"><a href="">16/06/2022</a> |<a href="">Juventus</a> | <a href="">Milan</a></span>
					<h4></h4>
					<p></p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" [routerLink]="['/details']">
						<span class="img">
							<img src="assets/images/roma.jpg" alt="">
							<span class="cover"><span class="more">Plus du Détails &rarr;</span></span>
						</span>
						<span class="title">Ligue Europa Conférence</span>
					</a>
					<span class="details"><a href="">21/07/2022</a> |<a href="">Roma</a> | <a href="">Leicester City</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" >
						<span class="img">
							<img src="assets/images/lyon.jpg" alt="">
							<span class="cover"><span class="more" > Plus Du Détails &rarr;</span></span>
						</span>
						<span class="title">Internationational Champions Cup</span>
					</a>
					<span class="details"><a href="">05/07/2022</a> |<a href="">Chelsea</a> | <a href="">Lyon</a></span>
					<h4></h4>
					<p></p>
				</div>
			</div>

		</div> <!-- /section -->

		<div class="row section topspace">
			<div class="panel panel-cta"><div class="panel-body">
				<div class="col-lg-8">
					<p>A simple, nice-looking <b>call to action box</b>. Boxing is about respect. getting it for yourself, 
					and taking it away from the other guy. no, this is mount everest. </p>
				</div>
				<div class="col-lg-4 text-right">
					<a href="http://www.gettemplate.com/downloads/initio.zip " class="btn btn-primary btn-lg">Download template</a>
				</div>
			</div></div>
		</div> <!-- /section -->

		<div class="row section clients topspace">
			<h2 class="section-title"><span>Les Matchs</span></h2>
			<div class="col-lg-12">
				<p>
					<img src="assets/images/sample_clients.png" alt="">
				</p>
			</div>
		</div> <!-- /section -->

	</div>	<!-- /container -->

</main>




<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="assets/js/template.js"></script>
</body>
</html>
<router-outlet></router-outlet>